<small class="marker">Online Users</small>
<ul class="list-unstyled users">
   <li class="userlabel ng-scope" ng-repeat="user in users | toArray : false | orderBy : '-status'">
      <a href="#">
      <i class="fa fa-user"></i>
      {{user.name}}
    </a>
      <span ng-class="{ 'label-success' : user.status == 'online' }">{{user.status}}</span>
   </li>
</ul>
