  <small class="marker">{{currentRoom.title}} Chat History</small>
  <div class="marker pull-right">
    <h5>
      <div><span class="username">{{ selected.name }}</span>, welcome! (
        <a href="#" ng-click="$event.preventDefault(); logout()">log out</a>
      )
      </div>
    </h5>
  </div>

  <div class="well chatbox">
     <ul>
        <div ng-show="!messages" class="no-messages">Please select a room to display its messages</div>

        <div class="bubble-container" ng-repeat="message in messages track by $index">

          <div class="avatar" ng-class="$even ? 'avatar-right' : 'avatar-left'">
            <img src="assets/images/ava.png">
          </div>

          <div class="bubble" ng-class="$even ? 'bubble-right' : 'bubble-left'">{{message.body}}
            <span class="message-date">{{message.created_at}}</span>
          </div>

          <br><br>

        </div>
     </ul>
  </div>
</div>

<form ng-submit="submit(form)" ng-init="form = {}">
  <div class="input-group">
    <input class="input-sm form-control" ng-model="form.body" placeholder="Type your comment here.." type="text">
    <span class="input-group-btn">
      <input class="input-sm btn btn-4" type="submit" value="Send">
    </span>
  </div>
</form>
