<section class="rooms">
  <small class="marker">Available Rooms</small>
  <ul class="list-unstyled" ng-repeat="room in rooms">
     <li class="userlabel ng-scope">
        <a href="#" class="btn rounded"
    ng-click="fire(room)" ng-class="{ 'btn-1': $even, 'btn-2': $odd }" >
    {{room.title}}</a>
     </li>
  </ul>
  <div ng-show="rooms_empty">
    <span>There are no channels.</span>
    <span>You can choose chatmate or create your own room</span>
  </div>
</section>
