<div ng-controller="ModalsController">

  <section class="chat-section">

    <div class="container">
      <div class="dialog dialog-success"></div>

      <div ng-switch on="isLive && isUserLoggedIn">

        <div class="row" ng-switch-when="true">
          <br>

          <div class="col-md-2">
            <div ng-view ng-include src="'app/online_users/onlineUsersContent.html'" ng-controller="OnlineController"></div>
          </div>

          <div class="col-md-8">
            <div ng-view ng-include src="'app/messages/messagesContent.html'"
                 ng-controller="MessagesController">
            </div>
          </div>
          <div class="col-md-2">
            <div ng-view ng-include src="'app/rooms/roomsContent.html'"
       ng-show="isUserLoggedIn" ng-show="rooms" ng-controller="RoomsController"></div>
          </div>

        </div>

        <div class="row center-modal" ng-switch-when="false">
          <h2>Simple Chatty</h2>
          <p>
           <span ng-show="isLive" class="label label-success">We're Live!</span>
           <span ng-show="!isLive" class="label label-danger">
             <i class="fa fa-spin fa-spinner"></i> Connection Lost, reconecting!
           </span>

           Channels are listed across the screen. To send a chat message,
           enter a message in the box and click the 'Send' button.
          </p>

          <!-- <div class="hint-button">Пожалуйста войдите или проверьте подключение!</div> -->

          <button type="button" class="login btn-3 btn" ng-show="isLive && !isUserLoggedIn" ng-click="login(); auth_reg_flag = !auth_reg_flag">Войти</button>
          <button type="button" class="login btn btn-3" ng-show="isLive && isUserLoggedIn" ng-click="logout()">Log Out</button>

        </div>
      </div>
    </div>
  </section>
</div>
