<div class="modal-header">
  <h3 class="modal-title">Please select a user to be logged with!</h3>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-6">
      <form ng-submit="createUser(nameForm)" role="form" ng-init="nameForm = {}">
          <br>
          <div class="form-group">
            <input type="text"
                   name="name"
                   id="name"
                   ng-model="nameForm.name"
                   required="required"
                   class="form-control" placeholder="Username">
          </div>

          <input type="submit" id="submit" class="btn btn-3 login" value="Создать и войти">
      </form>
    </div>
    <div class="col-md-6">
      <span>Или выберите из существующих</span>
      <ul>
        <li ng-repeat="user in users | filter:{status:'offline'} | limitTo:5">
          <a href="#" ng-click="$event.preventDefault(); selected.user = user">{{ user.name }}</a>
        </li>
      </ul>
      Selected: <b>{{ selected.user.name }}</b>
      <hr>
      <button class="btn btn-success" type="button" ng-click="ok()">OK</button>
      <button class="btn btn-danger" type="button" ng-click="cancel()">Cancel</button>
    </div>
  </div>

</div>
<div class="modal-footer">

</div>
